h3, h4 {
    margin: 0px;
    padding: 0px;
}

hr {
    width: 100%;
}

table {
    margin: auto;
    width: 100%;
}

.form-group {
    margin: 0;
    width: 100%;
}

.gridpane {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 50% 50%;
    height: 40%;
    padding: 1em 0px;
}
    .gridpane .btn {
        width: 100%;
        margin: auto;
    }

.text-danger {
    display: inline;
    margin-left: 1em;
}

.not-accepted {
    background-color: var(--background-color-container);
    border: 3px #fff solid;
    border-radius: 0 0.5em;
    float: left;
    margin: -3px calc(-5em + -3px) -3px -3px;
    width: 5em;
}