table {
    margin: auto;
    width: 100%;
}

.form-group {
    margin: 0;
    width: 100%;
}

.gridpane {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 50% 50%;
    height: 40%;
    padding: 1em 0px;
}
    .gridpane .btn {
        width: 100%;
        margin: auto;
    }

.text-danger {
    display: inline;
    margin-left: 1em;
}