.form-group:last-child {
    height: 100%;
}

.scrollable {
    margin: 0.5em auto;
    overflow-x: auto;
    width: 100%;
}

tr td:last-child {
    white-space: nowrap;
}

.content-block {
    width: 50%
}

#delete-prompt-content {
    display: none;
    flex-direction: column;
    gap: 1em;
    padding: 25%;
    text-align: center;
    width: 50%;
}

.projects-list-content {
    display: block;
}

.btn-del {
    background-color: #800000;
    color: #fff;
}