.form-group:last-child {
    height: 100%;
}

.form-control {
    margin: 0.5em 0;
}

textarea {
    max-height: 20em;
    height: 10em;
}

.scrollable {
    margin: 0.5em auto;
    width: calc(100% + 1em);
    overflow-x: auto;
}

tr td:last-child {
    white-space: nowrap;
}

.content-block {
    width: 50%
}

#delete-prompt-content {
    display: none;
    flex-direction: column;
    gap: 1em;
    padding: 25%;
    text-align: center;
    width: 50%;
}

.projects-list-content {
    display: block;
}

.btn-del {
    background-color: #800000;
    color: #fff;
}