:root {
    --background-color-container: #0f1e13;
    --button-color-normal: #9f7aea;
    --button-color-hover: #b794f4;
    --button-border-weight: 1px;
}

body {
    background: linear-gradient(145deg, #608272, #29543d);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    background-color: var(--background-color-container);
    border: 0px solid #ffffff;
    border-radius: 0.5em;
    margin: 1%;
    padding: 1%;
}

hr {
    color: white;
    background-color: white;
}

form {
    width: 100%;
}

textarea {
    resize: vertical;
}

.container {
    background-color: var(--background-color-container);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
    padding: 1%;
    width: 80%;
}

.form-group {
    margin: 0.5em 5%;
    padding: 0px;
}

.form-control {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 0.5em;
    width: 90%;
}

.btn {
    background-color: var(--button-color-normal);
    border: var(--button-border-weight) solid white;
    border-radius: 10px;
    padding: 1em;
}
    .btn:hover {
        background-color: var(--button-color-hover);
    }

.text-danger {
    color: #ff0000;
    margin: 0.5em 4%;
}